/* ELEMENTS */ 

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

footer {
    height: 90px;
    padding: 15px 0;
    background-color: #CF3527;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CLASSES, IDS */

.nav-container {
    background-color: #CF3527;
    padding: 20px;
    height: 140px;
    width: 100%;
}

.nav-main {
    display: flex;
    justify-content: space-between;
}

.deliveryfood-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deliveryfood-logo img {
    height: 40px;
    width: 40px;
}

.deliveryfood-logo h1 {
    margin: 0;
    color: #FFFFFF;
    font-size: 18px;
}

.deliveryfood-nav-right {
 display: flex;
 align-items: center;
}

.deliveryfood-nav-right p {
    display: none;
}

.deliveryfood-btn-default {
    padding: 0 20px;
    height: 35px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    background-color: #F8F8F8F8;
    color: #6A6A6A;
    font-size: 14px;
    cursor: pointer;
}

.deliveryfood-btn-default:hover {
    background-color: #FFF;
}

.deliveryfood-btn-default:active {
    background-color: #F8F8F8;
}

.deliveryfood-category-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;
    margin-bottom: 10px;
    justify-content: space-around;
    max-width: 320px;
    margin: 0 auto;
}

.deliveryfood-btn-category {
    padding: 0;
    width: 120px;
    height: 60px;
    background-color: #FFB647;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.deliveryfood-btn-category:hover {
    background-color: #ffbb55;
}

.deliveryfood-btn-category:active {
    background-color: #ffb647;
}

.deliveryfood-catalog-section {
    width: 100%;
    padding: 0 20px;
}

.deliveryfood-catalog-container {
    width: 100%;
}

.deliveryfood-catalog-item {
    display: flex;
    margin-bottom: 30px;
}

.deliveryfood-catalog-item-image {
    width: 90px;
    height: 90px;
    border-radius: 4px 0 0 4px;
}

.deliveryfood-catalog-item-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: #F0EFF4;
    padding: 8px 20px;
    border-radius: 0 4px 4px 0 ;
}

.deliveryfood-catalog-item-title {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #3D3D3D;
}

.deliveryfood-catalog-item-description {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: #3D3D3D;
    
    /* Limito a descricao em 2 linhas, aparecendo os 3 pontinhos se passar */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.deliveryfood-catalog-item-price {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #5C9F43;
}

.deliveryfood-catalog-item-price span {
    font-size: 10px;
    margin-right: 1px;
}

.footer-title {
    color: #FFF;
    font-size: 14px;
}

.social-container {
    display: flex;
}

.social-container img {
    width: 32px;
    height: 32px;
    margin: 10px 10px 0 10px;
}
    
@media (min-width: 576px) {
    .nav-container {
        padding: 20px 40px;
    }

    .deliveryfood-catalog-item-image {
        width: 110px;
        height: 110px;
    }

    .deliveryfood-catalog-section {
        padding: 0 40px;
    }

    .deliveryfood-catalog-item-title {
        font-size: 18px;
    }

    .deliveryfood-catalog-item-description {
        font-size: 14px;
    }

    .deliveryfood-catalog-item-price {
        font-size: 24px;
    }

    .deliveryfood-catalog-item-price span {
        font-size: 14px;
    }

    .footer-title {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .nav-main {
        max-width: 856px;
        margin: 0 auto;
    }

    .deliveryfood-nav-right p {
        margin: 0 15px;
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        display: unset;
    }

    .deliveryfood-category-container {
        top: -40px;
        max-width: 480px;
    }

    .deliveryfood-btn-category {
        width: 160px;
        height: 80px;
    }

    .deliveryfood-catalog-container {
        max-width: 672px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .deliveryfood-catalog-item {
        display: flex;
        flex-direction: column;
        width: 260px;
        margin: 0 10px 30px 10px;
    }

    .deliveryfood-catalog-item-image {
        width: 260px;
        height: 260px;
        border-radius: 4px 4px 0 0;
    }

    .deliveryfood-catalog-item-details-container {
        border-radius: 0 0 4px 4px;
    }
}

@media (min-width: 992px) {
    .nav-main {
        max-width: 896px;
        margin: 0 auto;
    }

    .deliveryfood-catalog-container {
        max-width: 896px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .deliveryfood-catalog-item {
        margin: 0 0 30px 0;
    }
}