* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/bg-2.jpg);
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: unset;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.title {
  padding: 100px 20px 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__logo {
  color: #fff;
  text-shadow: 3px 3px 6px #000;
  font-size: 60px;
  text-transform: uppercase;
}

.title__description {
  background-color: #0000009a;
  border-bottom: 2px solid #fff;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
}

.courses {
  background-color: #ffffff87;
  padding: 15px;
}
.courses-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 15px;
}

.courses-list__card:active {
  opacity: 0.7;
}

.courses-list__image {
  width: 300px;
}

.courses-list__image img {
  display: block;
}

.courses-list__name {
  background-color: #383737;
  color: #fff;
  padding: 8px;
  font-size: 18px;
}
