* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main {
    height: 100%;
}

body {
    background-color: #a0ded6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    color: #1693a5;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 10px;
}

.list-wrapper {
    width: fit-content; /* responsive */
    max-width: 100%;    /* responsive */
    max-height: 400px;
    overflow-y: hidden; /* Colocar o scroll dentro de uma div, para o border radius funcionar
                            tambem no scrool, e nao ficar com os cantos retos */
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
}

.list {
    list-style-type: none;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #c7ede8;
}

.list-item {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    /* flex-wrap: wrap; */
}

.list-item__image img {
    width: 128px;
    border-radius: 50%;
    box-shadow: 0 2px 8px black;
}

.list-item__content {
    align-self: center;
    padding: 15px 20px;
    flex-grow: 1;   /* responsive */
}

.list-item__name {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 2px;
}

.list-item__email {
    font-size: 14px;
    color: #616161;
}

.list-item__action {
    display: flex;
    gap: 16px;
    align-items: center;
    opacity: 0;
    
}

.list-item:hover {
    background-color: #7ececa;  
}

.list-item:hover .list-item__action {
    opacity: 0.3;
}