:root {
  --color-primary: #622574;
  --color-secondary: hsl(286, 52%, 55%);
  --color-light-blue: #00cccc;
  --color-section-background: #e4e4e4;

  --transition-time: 0.2s;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

body {
  font-weight: 300;
  line-height: 1.4;
  font-size: 1.6rem;
  min-height: 100vh;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 1.8em;
  font-weight: 400;
}

h2 {
  font-size: 1.4em;
  font-weight: 300;
}

.container {
  width: 100%;
  max-width: 105rem;
  margin: 0 auto;
}

.header__logo {
  padding: 0.5rem 0;
  text-align: center;
}

.header__nav {
  background-color: var(--color-primary);
  text-align: center;
}

.header__nav ul {
  list-style-type: none;
  list-style-position: inside;
}

.header__navItem {
  display: block;
  color: white;
  text-decoration: none;
  padding: 1.5rem 2.5rem;
}

.header__navItem:hover {
  background-color: var(--color-secondary);
}

.heroBanner {
  text-align: center;
  padding: 4rem 1.6rem;
  background-color: var(--color-section-background);
}

.heroBanner__icon {
  display: none;
  width: 7rem;
}

.heroBanner__title {
  margin-bottom: 2.5rem;
  color: var(--color-primary);
}

.heroBanner__subtitle {
  margin-bottom: 2rem;
  color: var(--color-secondary);
}

.heroBanner__btn {
  font-size: 1.1em;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: var(--color-light-blue);
  padding: 1rem 3rem;
  border-radius: 6px;
}

.heroBanner__btn:hover {
  background-color: #f1f1f1;
  color: var(--color-light-blue);
  outline: 2px solid var(--color-light-blue);
  outline-offset: -2px;
}
