:root {
  --color-primary: #622574;
  --color-secondary: hsl(286, 52%, 55%);
  --color-light-blue: #00cccc;
  --color-section-background: #F0EFF8;

  --default-gap: 2rem;
  --transition-time: 0.2s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

body {
  font-weight: 300;
  line-height: 1.4;
  font-size: 1.6rem;
  min-height: 100vh;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 1.8em;
  font-weight: 400;
}

h2 {
  font-size: 1.4em;
  font-weight: 300;
}

.container {
  width: 100%;
  max-width: 105rem;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--default-gap);
}

.col {
  flex: 1 0 auto;
  width: 100%;
}

.col-sm-12 {
  width: 100%;
}

.header__logo {
  padding: 0.5rem 0;
  text-align: center;
}

.header__nav {
  background-color: var(--color-primary);
  text-align: center;
}

.header__nav ul {
  list-style-type: none;
  list-style-position: inside;
}

.header__navItem {
  display: block;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 1.5rem 2rem;
}

.header__navItem:hover {
  background-color: var(--color-secondary);
}

.heroBanner {
  text-align: center;
  padding: 4rem 1.6rem;
  background-color: var(--color-section-background);
}

.heroBanner__icon {
  display: none;
  width: 7rem;
}

.heroBanner__title {
  margin-bottom: 2.5rem;
  color: var(--color-primary);
}

.heroBanner__subtitle {
  margin-bottom: 2rem;
  color: var(--color-secondary);
}

.heroBanner__btn {
  font-size: 1.1em;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: var(--color-light-blue);
  padding: 1rem 3rem;
  border-radius: 6px;
}

.heroBanner__btn:hover {
  background-color: #F0EFF8;
  color: var(--color-light-blue);
  outline: 4px solid var(--color-light-blue);
  outline-offset: -4px;
}

.middleContent {
  background-color: var(--color-section-background);
  text-align: center;
  padding: 2rem 1.6rem;
}

.middleContent a{
  text-decoration: none;
  color: inherit;
}

.middleContent span[class^="icon"] {
  font-size: 3.5em;
  color: var(--color-primary);
}

.middleContent__title {
  font-size: 1.3em;
  text-transform: uppercase;
  color: var(--color-primary);
}

.middleContent article {
  padding: 2rem 2rem;
}

.mainContent {
  padding: 4rem 1.6rem;
  
}

.mainContent .row{
  row-gap: 3rem;

  container: mainContentContainer / inline-size;
}

.mainContent__card {
  flex: 1 1 auto;
  border-radius: 8px;
  overflow: hidden;
}

.mainContent__img img {
  width: 100%;
  height: 100%;
  max-height: 30rem;

  display: block;
  object-fit: cover;
}

.mainContent__content {
  background-color: var(--color-section-background);
  padding: 1rem 1.5rem;
}
 
.mainContent__title {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-primary);
}

.mainContent__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.mainContent__title::first-letter {
  font-size: 1.5em;
  color: var(--color-light-blue);
}

.footer {
  background-color: #1d2738;
  color: #d6d6d6;
  padding: 4rem;
  text-align: center;
}

.footer p+p {
  margin-top: 1rem;
}