@media screen and (min-width:50em) {
    .header {
        padding: 0 1rem;
    }

    .header .container {
        display: flex;
        justify-content: space-between;
    }

    .header__nav {
        background-color: initial;
    }

    .header__nav {
        display: flex;
        align-items: center;
    }

    li:has(a.header__navItem){
        display: inline-block;
    }

    .header__navItem {
        color: var(--color-header-nav);
        font-weight: 400;

        transition: transform var(--transition-time) linear;
    }

    .header__navItem:hover {
        background-color: color-mix(in srgb, var(--color-primary), white 80%);
        transform: translateY(-5px);
    }
    
}