@media screen and (min-width: 50em) {
  .header {
    padding: 0 1.6rem;
  }

  .header .container {
    display: flex;
    justify-content: space-between;
  }

  .header__nav {
    background-color: initial;
  }

  .header__nav {
    display: flex;
    align-items: center;
  }

  li:has(a.header__navItem) {
    display: inline-block;
  }

  .header__navItem {
    color: var(--color-primary);
    font-weight: 400;

    transition: transform var(--transition-time) linear;
  }

  .header__navItem:hover {
    color: white;
    background-color: var(--color-secondary);
    transform: translateY(-5px);
  }

  .heroBanner {
    background-color: var(--color-primary);
  }

  .heroBanner__icon {
    display: block;
    margin: 0 auto;
  }

  .heroBanner__title,
  .heroBanner__subtitle {
    color: white;
  }

  @media screen and (min-width: 56em) {
    .heroBanner {
      background-image: url(../images/bg_topo_1198x670.jpg);
      /* aspect-ratio: 1198/670; */
      aspect-ratio: 20 / 9;
      background-repeat: no-repeat;
      /* background-size: cover; */

      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    .heroBanner .container {
      margin: initial;
      margin-bottom: 4rem;
      width: 75%;
    }
  }

  @media screen and (min-width: 75em) {
    .heroBanner {
      background-image: linear-gradient(to bottom, transparent 30%, var(--color-primary)), url(../images/bg_topo_1600x1374.jpg);
      background-blend-mode: hard-light;
      background-position: center top;
      max-height: 70vh;
      width: 100%;
      max-width: 1500px;
      margin: auto;
    }

    .heroBanner .container {
      width: 50%;
    }

    .heroBanner__icon {
      width: 14rem;
    }
  }
}
