@media screen and (min-width: 50em) {
  .header {
    padding: 0 1.6rem;
  }

  .header .container {
    display: flex;
    justify-content: space-between;
  }

  .header__nav {
    background-color: initial;
  }

  .header__nav {
    display: flex;
    align-items: center;
  }

  li:has(a.header__navItem) {
    display: inline-block;
  }

  .header__navItem {
    color: var(--color-primary);
    font-weight: 400;

    transition: transform var(--transition-time) linear;
  }

  .header__navItem:hover {
    color: white;
    background-color: var(--color-secondary);
    transform: translateY(-5px);
  }

  .heroBanner {
    background-color: var(--color-primary);
  }

  .heroBanner__icon {
    display: block;
    margin: 0 auto;
  }

  .heroBanner__title,
  .heroBanner__subtitle {
    color: white;
  }
}
